.paragraph {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mediaUpload {
    width: 98px;
    height: 87px;
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 40px;
}

.content {
    margin: 80px 0px 50px 120px;
}

.addParagraphButton {
    margin-left: 345px;
}